Repository project-icp/bee-pollinator-app, pull requests merged in 2019-03, with the labels that each got.

#492 Clear old Pollination Mapper results
  src/icp/apps/modeling/migrations/0021_clear_old_results.py
  src/icp/js/src/modeling/models.js
Labels: in progress

#493 Improve CDL Picker UI
  src/icp/apps/beekeepers/img/cdl-picker.png
  src/icp/apps/beekeepers/js/src/components/CropLayerControl.jsx
  src/icp/apps/beekeepers/js/src/components/Map.jsx
  src/icp/apps/beekeepers/sass/06_components/_layercontrol.scss
  src/icp/apps/beekeepers/sass/06_components/_map.scss
Labels: beekeepers, in progress

#489 Text changes for forms from beekeepers feedback
  src/icp/apps/beekeepers/js/src/actions.js
  src/icp/apps/beekeepers/js/src/components/AprilSurveyForm.jsx
  src/icp/apps/beekeepers/js/src/components/GuestSurveyView.jsx
  src/icp/apps/beekeepers/js/src/components/Header.jsx
  src/icp/apps/beekeepers/js/src/components/MonthlySurveyColonyForm.jsx
  src/icp/apps/beekeepers/js/src/components/NovemberSurveyForm.jsx
  src/icp/apps/beekeepers/js/src/components/UserSurveyModal.jsx
  src/icp/apps/beekeepers/js/src/constants.js
  src/icp/apps/beekeepers/models.py
  src/icp/apps/beekeepers/sass/06_components/_navbar.scss
Labels: beekeepers, in progress

#491 Add New Questions to Surveys
  src/icp/apps/beekeepers/js/src/components/MonthlySurveyColonyForm.jsx
  src/icp/apps/beekeepers/js/src/components/MonthlySurveyForm.jsx
  src/icp/apps/beekeepers/js/src/components/NovemberSurveyForm.jsx
  src/icp/apps/beekeepers/migrations/0012_add_new_survey_fields.py
  src/icp/apps/beekeepers/models.py
Labels: beekeepers, in progress

#494 Rename Pesticide quality to Insecticide load
  src/icp/apps/beekeepers/js/src/components/DropdownSelector.jsx
  src/icp/apps/beekeepers/js/src/constants.js
  src/icp/apps/beekeepers/js/src/utils.js
Labels: beekeepers, in progress

#498 Style changes
  src/icp/apps/beekeepers/sass/06_components/_layercontrol.scss
  src/icp/apps/beekeepers/sass/06_components/_map.scss
  src/icp/apps/beekeepers/sass/06_components/_navbar.scss
Labels: beekeepers, in progress

#496 Downgrade to supported libpq-dev for Trusty
  deployment/ansible/group_vars/all
Labels: in review

#495 Various IE11 Fixes
  src/icp/apps/beekeepers/js/src/components/NovemberSurveyForm.jsx
  src/icp/apps/beekeepers/js/src/components/SuccessModal.jsx
  src/icp/apps/beekeepers/js/src/components/SurveyCardListing.jsx
  src/icp/apps/beekeepers/sass/01_settings/_type.scss
  src/icp/apps/beekeepers/sass/05_base/_base.scss
  src/icp/apps/beekeepers/sass/06_components/_modal.scss
  src/icp/apps/beekeepers/sass/06_components/_survey.scss
Labels: beekeepers, in progress

#499 Show Monthly Survey Colonies in Correct Order
  src/icp/apps/beekeepers/js/src/components/MonthlySurveyForm.jsx
  src/icp/apps/beekeepers/js/src/components/ParticipateModal.jsx
Labels: beekeepers, in progress

#500 Fix Staging Issues
  src/icp/apps/beekeepers/sass/06_components/_survey.scss
  src/icp/apps/beekeepers/views.py
Labels: beekeepers, in progress
